version: '3.8'

x-build: &build
  build:
    context: .
    dockerfile: Dockerfile.dev
    target: runtime


services:
  postgres:
    image: postgres:16-alpine
    platform: linux/arm64
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    container_name: garage_postgres
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 3s
      retries: 10
      start_period: 10s
    networks:
      - garage-network

  migrations:
    build:
      context: .
      dockerfile: Dockerfile
      target: migrations
    platform: linux/arm64
    container_name: garage_migrations
    working_dir: /app
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    entrypoint: ["/bin/bash", "scripts/apply-migrations.sh"]
    restart: "no"
    networks:
      - garage-network

  api:
    <<: *build
    platform: linux/arm64
    ports:
      - "5001:5001"
    env_file:
      - .env
    depends_on:
      migrations:
        condition: service_completed_successfully
      rabbitmq:
        condition: service_healthy
    command: ["dotnet", "Garage.Api.dll"]
    container_name: garage_api
    working_dir: /app
    restart: unless-stopped
    networks:
      - garage-network

  worker:
    <<: *build
    platform: linux/arm64
    env_file:
      - .env
    depends_on:
      migrations:
        condition: service_completed_successfully
      rabbitmq:
        condition: service_healthy
    container_name: garage_worker
    command: ["dotnet", "Garage.Worker.dll"]
    working_dir: /app
    restart: unless-stopped
    networks:
      - garage-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: unless-stopped
    ports:
      - "5672:5672"
      - "15672:15672"
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - garage-network

volumes:
  postgres_data:
    driver: local

networks:
  garage-network:
    driver: bridge
